<template>
    <v-content>
    <v-data-table
      :headers="headers"
      :items="menuList"
      class="elevation-1"
      hide-actions
    >
      <template v-slot:items="props">
        <td>{{ props.item.name }}</td>
        <td>{{ props.item.desc }}</td>
      </template>
    </v-data-table>
    <v-btn color="indigo" dark v-on:click="logOut()">logOut</v-btn>
    </v-content>
</template>

<script>
import locationService from "../../Services/locationService.js";
import loginService from "../../Services/loginService.js"
export default {
    name: "menu",
    data(){
        return{
            menuList : [],
            app_id : localStorage.app_id,
            app_secret : localStorage.app_secret,
            token : localStorage.token,
            headers: [
                {
                    text: 'Item Name',
                    align: 'left',
                    sortable: false,
                    value: 'name'
                },
                {
                    text: 'Item Description',
                    align: 'left',
                    sortable: false,
                    value: 'Description'
                }
            ]
        }
    },
    methods: {
        logOut(){
            loginService.logOut(this.app_id,this.app_secret,this.token).then(result => {
                if(result.code === 200){
                    this.$router.push({name : 'login'})
                }
            })
        },
        getMenu(){
            locationService.getMenuByLocationId().then(result => {
                this.menuList = result.payload;
            })
        }
    },
    mounted(){
        this.getMenu();
    }
}
</script>

<style scoped>
</style>
