<template>
  <v-layout row>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
        <v-toolbar color="indigo" dark>
          <v-toolbar-title>Locations</v-toolbar-title>

          <v-spacer></v-spacer>
        </v-toolbar>
        <v-list>
          <v-list-tile
            v-for="payload in locationList"
            :key="payload.id"
            avatar
            v-on:click="callMenuPage(payload.id)"
          >
            <v-list-tile-content>
              <v-list-tile-title v-text="payload.name"></v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card>
      <v-btn color="indigo" dark v-on:click="logOut()">logOut</v-btn>
    </v-flex>
  </v-layout>
</template>

<script>
import locationService from "../../Services/locationService.js";
import loginService from "../../Services/loginService.js";
export default {
  name: "locations",
  data() {
    return {
      locationList: [],
      app_id: localStorage.app_id,
      app_secret: localStorage.app_secret,
      token: localStorage.token
    };
  },
  methods: {
    getLocations() {
      locationService
        .getAllLocations(this.app_id, this.app_secret)
        .then(result => {
          this.locationList = result.payload;
        });
    },
    callMenuPage(payloadId) {
      localStorage.payloadId = payloadId;
      this.$router.push({ name: "menu" });
    },
    logOut() {
      loginService
        .logOut(this.app_id, this.app_secret, this.token)
        .then(result => {
          if (result.code === 200) {
            this.$router.push({ name: "login" });
          }
        });
    }
  },
  mounted() {
    this.getLocations();
  }
};
</script>

<style scoped>
</style>
