<template>
  <v-content>
    <v-container fluid fill-height>
      <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
          <v-card class="elevation-12">
            <v-toolbar color="indigo" dark>
              <v-toolbar-title>Login form</v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
            <v-card-text>
              <v-form>
                <v-text-field
                  prepend-icon="person"
                  label="Username"
                  v-model="input.user_name"
                  type="text"
                  v-validate="'required'"
                  data-vv-name="username"
                  ref="username"
                  :error-messages="errors.collect('username')"
                ></v-text-field>
                <v-text-field
                  prepend-icon="lock"
                  v-model="input.password"
                  label="Password"
                  type="password"
                  v-validate="'required'"
                  data-vv-name="password"
                  ref="password"
                  :error-messages="errors.collect('password')"
                ></v-text-field>
              </v-form>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="indigo" dark v-on:click="login()">Login</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
import loginService from "../../Services/loginService.js";
export default {
  name: "login",
  data() {
    return {
      input: {
        user_name: "",
        password: ""
      }
    };
  },
  methods: {
    login() {
      this.$validator.validateAll();
      if (!this.errors.any()) {
        loginService
          .login(this.input.user_name, this.input.password)
          .then(result => {
            if (result.code === 200) {
              localStorage.token = result.session.token;
              localStorage.app_id = result.App.app_id;
              localStorage.app_secret = result.App.app_secret;
              this.$router.push({ name: "locations" });
            } else {
              alert("Invalid Cedentials");
            }
          });
      }
    }
  }
};
</script>

<style scoped>
</style>
